
config MBB_MLOG_DRV
	tristate "mobilelog driver"
	default n
	help
	  mobilelog driver

config MBB_MLOG_DRV_TEST
	tristate "mobilelog driver test"
	default n
	help
	  mobilelog driver test
	  
config MBB_DLOAD
	tristate "huaweidload driver"
	default n
	help
	  huaweidload driver test
